/* ====================== */
/* COLOURS */
/* ====================== */
/*
Cherry Blossom Pink: E4ACB2
Desert Sand: EABCA8
Papaya Whip: FAEDCD
Tea Green: CCD5AE
Ash Gray: 99BAB9 
Light Neutral: F8F9FA 
Very Light Pastel Tint: fdf5f6*/


html, body {
    height: 100%;
    margin: 0;
    background-color: #fdf5f6; 
    color: #333; 
}

/* ====================== */
/* DEFAULTS */
/* ====================== */
/*Add new classes below with a comma inbetween */

/* BUTTON SHAPE AND SIZE */
.auth-submit-btn, .auth-new-acc-btn {
  width: 100%;
  padding: 0.75rem;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

/* FORM FIELDS */
.auth-form-field {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: 1px solid #ced4da;
  font-size: 1rem;
}

/* ====================== */
/* AUTH PAGES */
/* ====================== */

.auth-wrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.auth-page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
}

.auth-left {
  max-width: 400px;
  padding-right: 3rem;
}

.auth-brand-title {
  font-size: 4rem;
  font-weight: 700;
  color: #99BAB9;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 0.5px #CCD5AE, 0 0 2px #CCD5AE;
  filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.1));
}

.auth-brand-tagline {
  font-size: 2rem;
  color: #aec2d5;
  filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.1));
}

.auth-card {
  background: #F8F9FA;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 360px;
}

.auth-form-field::file-selector-button {
  background-color: #E4ACB2;
  color: white;
  border: 1px solid #7a9a99;
  border-radius: 50px;
  padding: 8px 16px;
  margin-right: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-weight: 600;
  font-size: 0.85rem;
}

.auth-form-field::file-selector-button:hover {
  background-color: #99BAB9;
  border-color: #99BAB9;
}

.auth-submit-btn {
  background: #CCD5AE;
  color: white;
  border: none;
}

.auth-new-acc-btn {
  background: #F8F9FA;
  color: #99BAB9;
  border: solid 2px #99BAB9;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}