html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

/* ========================================================================== */
/* PROFILE - HOLIDAYS */
/* ========================================================================== */

.upcoming-holidays-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  overflow: visible;
}

.upcoming-holidays-header {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.upcoming-holidays-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.upcoming-holidays-card {
  display: flex;
  align-items: stretch;
  justify-self: center;
  background: #fff;
  border-radius: 12px;
  border: 1px solid rgba(189, 189, 189, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  min-height: 120px;
  overflow: hidden;
}

.upcoming-holidays-dates {
  flex-grow: 1;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upcoming-holidays-title {
  font-weight: 600;
  font-size: 1.1rem;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.past-holidays-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  overflow: visible;
}

.past-holidays-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.past-holidays-card {
  display: flex;
  align-items: stretch;
  background: #fff;
  border-radius: 12px;
  border: 1px solid rgba(189, 189, 189, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  min-height: 120px;
  overflow: hidden;
}

.past-holidays-dates {
  flex-grow: 1;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.past-holidays-title {
  font-weight: 600;
  font-size: 1.1rem;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  width: 100%;
  height: 12vw;
  object-fit: cover;
}


